fastapi
fastapi_mail
uvicorn[standard]
sqlalchemy
alembic
asyncpg
pydantic
pydantic-settings
python-jose
passlib==1.7.4
bcrypt==4.1.2
python-multipart
google-genai
cloudinary
pdfplumber
pymupdf
python-docx
aiofiles
loguru
email-validator